* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tryunfo {
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tryunfo form {
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.3rem 0.3rem thistle;
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  padding: 2rem;
  width: 50rem;
}

.tryunfo main {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  width: 100%;
}

.tryunfo aside {
  background-color: #023031;
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.3rem 0.3rem thistle;
  color: white;
  padding: 2rem 0 0 1.5rem;
  text-align: center;
  width: 50rem;
}

.tryunfo input {
  font-size: 1.2rem;
}

.tryunfo label {
  display: flex;
  flex-direction: column;
}

.tryunfo label input {
  font-size: 1.7rem;
}

.tryunfo .number {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tryunfo .number input {
  height: 3rem;
}

.tryunfo .textarea input {
  height: 4.5rem;
}

.tryunfo .label h3 {
  margin: 1rem 0 0;
  text-transform: capitalize;
}

.tryunfo select {
  margin-left: 1rem;
}

.tryunfo .rare {
  align-items: baseline;
  flex-direction: row;
}

.tryunfo .trunfo {
  align-items: baseline;
  background-color: #02303181;
  color: black;
  cursor: pointer;
  flex-direction: row;
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: 0.4s;
}

.tryunfo .trunfo span {
  margin-left: 1rem;
}

.tryunfo .trunfo input {
  cursor: pointer;
  margin-left: 1rem;
}

.tryunfo .trunfo:hover {
  background-color: #0230315d;
}

.tryunfo button {
  background-color: blue;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.2rem 0.2rem thistle;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 1rem auto;
  transition: 0.4s;
  width: 7rem;
}

.tryunfo button:hover {
  background-color: rgba(0, 0, 255, 0.65);
}

.tryunfo button:disabled {
  opacity: 0.6;
}

.tryunfo .cardContainer {
  background-color: #036B52;
  border: 5px solid white;
  border-radius: 2rem;
  height: 50rem;
  margin: 6rem auto;
  position: relative;
  width: 32rem;
}

.tryunfo .cardContainer p {
  font-size: 2rem;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 26rem;
  position: absolute;
  top: 12px;
  transform: rotate(-12deg);
}

.tryunfo .fullCard {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: stretch;
  left: 2.5%;
  margin: 0;
  position: relative;
  top: 2.5%;
  width: 95%;
}

.tryunfo .fullCard h4 {
  background-color: #023031;
  border-radius: 1rem 1rem 0 0;
  display: inline-block;
  font-size: 3.6rem;
  height: 6rem;
  padding: 0.8rem 1.6rem 0 0;
  text-align: end;
  margin: 0 auto;
  width: 100%;
}

.tryunfo .cardImg {
  height: 18rem;
  margin-top: 0;
  position: relative;
  width: 100%;
}

.tryunfo .logoTrunfo {
  height: 8rem;
  left: 55%;
  position: absolute;
  top: 20%;
  width: 8rem;
}

.tryunfo [ data-testid = "image-card" ] {
  height: 100%;
  width: 100%;
}

.tryunfo .greenBox {
  border-color: transparent #036B52 #036B52 transparent;
  border-style: solid;
  border-width: 0 0 6rem 29rem;
  bottom: 0;
  height: 6rem;
  position: absolute;
  right: 0;
  width: 100%;
}

.tryunfo .whiteBox {
  border-color: transparent white white transparent;
  border-style: solid;
  border-width: 0 0 6rem 29rem;
  height: 6rem;
  width: 100%;
}

.tryunfo .skillsContainer {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  color: #023031;
  display: flex;
  flex-direction: column;
  height: 16rem;
}

.skillsContainer h5 {
  display: flex;
  justify-content: space-between;
  width: 67%;
}

.skillsContainer h6 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  text-transform: capitalize;
}

.tryunfo h5 span {
  background-color: #023031;
  border-radius: 0 1rem 1rem 0;
  color: white;
  margin-left: 2rem;
  padding: 0.4rem 1.2rem;
}

.tryunfo .skillsContainer h5 {
  font-size: 2rem;
  margin: 0.6rem auto;
  text-transform: capitalize;
}

.tryunfo .fullCard p {
  background-color: white;
  color: #02694D;
  height: 2.6rem;
  margin: 0.6rem auto;
}

.tryunfo .box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40%;
  padding-left: 3rem;
  text-align: center;
}

.tryunfo .allCards {
  background-color: #0230315e;
  border-top: 1rem solid #023031;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.tryunfo .allCards h2 {
  text-align: center;
  width: 100%;
}

.tryunfo .column {
  display: flex;
  flex-direction: column;
}

.tryunfo .col {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tryunfo .dNone {
  display: none;
}
