* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #124559;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  margin: 0;
  border-top: 0;
}

a {
  color: #aec3b0;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #bdb969;
}

h5 {
  color: #aec3b0;
  text-align: right;
  padding-right: 30px;
}

h4 {
  margin: 0;
  padding: 3px;
  font-size: 22px;
  text-align: center;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  max-width: 30%;
  margin: 8px;
  vertical-align: top;
}

ul li p {
  font-size: 13px;
}

ul img {
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.topo {
  background-color: #124559;
  color: #eff6e0;
  padding-bottom: 8px;
  margin-bottom: 0;
  border-bottom: 0;
}

.Soft {
  background-color: #aec3b0;
  margin: 0;
  padding-bottom: 3px;
  padding-top: 7px;
  position: 50%;
}

.Hard {
  background-color: #124559;
  color: #eff6e0;
  margin: auto;
  padding-top: 7px;
}