* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #124559;
  font-family: Impact, Haettenschweiler, "Arial", sans-serif;
}

h1 {
  display: inline-block;
  font-family: Lobster;
  font-weight: 400;
  padding: 9px;
}

a {
  color: #aec3b0;
  /* padding: 5px 15px; */
  max-width: 45%;
  text-align: center;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #bdb969;
}

h2 {
  color: #aec3b0;
  display: flex;
  /* font-size: 2rem; */
}

h4 {
  margin: 0;
  /* padding: 3rem; */
  font-size: 4rem;
  text-align: center;
}

.img-txt {
  position: relative;
}

.inner-txt {
  position: absolute;
  top: 62%;
  left: 5%;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px #124559;
}


.card {
  max-width: 23%;
  margin: 8px 5%;
  vertical-align: top;
}

.card p {
  font-size: 1.2rem;
}

.card img {
  width: 69.69%;
  margin: 0 auto;
  border-radius: 3%;
  transition: 0.5s;
  cursor: pointer;
}

.card img:hover {
  opacity: 50%;
  width: 73%;
}

.topo {
  background-color: #124559;
  color: #eff6e0;
  margin-bottom: 0;
  border-bottom: 0;
  display: flex;
  flex-flow: nowrap row-reverse;
  justify-content: space-around;
  align-items: center;
}

.topo nav h2 {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}

.Soft {
  background-color: #aec3b0;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-top: 7px;
  /* position: 50%; */
  width: 100%;
}

.card-container {
  text-align: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  margin-bottom: 3rem;
}

/* 
.title-skill {
  width: 100%;
} */

footer ul {
  color: #aec3b0;
  text-align: center;
  display: inline;
  margin: 0 auto;
}

.Hard {
  background-color: #124559;
  color: #eff6e0;
  margin: auto;
  padding-top: 7px;
  width: 100%;
}

.gradient {
  background: linear-gradient(45deg, #124559, #175B75, #2CAADB, #175B75, #124559);
  /* padding: 30px 30px; */
}

.projects {
  width: 100%;
  height: 200px;
  display: flex;
  margin: 0 auto;
  background-color: #aec3b0;
  padding: 15px 0;
  justify-content: space-evenly;
}

.projects button {
  height: 70%;
  width: 30%;
  font-size: 40px;
  border: none;
  background-color: #070707;
  color: #aec3b0;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.projects button:hover {
  background-color: #2CAADB;
  color: white;
}

.projects iframe {
  width: 46%;
  height: 83%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2%;
}

.hProj {
  background-color: #aec3b0;
}

.hProj h4 {
  color: black;
}

@media screen and (max-width: 800px) {
  .topo nav h2 {
    font-size: 16px;
  }
}