.solarsystem {
  text-align: center;
  background-image: url('./images/background.png');
  color: white;
  font-family: Verdana , Geneva , sans-serif;
}

.solarsystem header {
  display: flex;
  justify-content: center;
  margin: 0 0 25px;
}

.solarsystem [ data-testid = 'solar-system'  ] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solarsystem section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0;
}

@keyframes rotatePlanet {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

.solarsystem img {
  margin-bottom: 30px;
  max-width: 300px;
}

.solarsystem img:hover {
  animation: rotatePlanet 2.2s ease-in-out;
}

.solarsystem [ data-testid = 'solar-system' ] h2 {
  background-color: #00808011;
  border: 1px solid rgba(0, 128, 128, 0.26);
  border-radius: 6px;
  display: flex;
  margin-bottom: 25px;
  padding: 15px 65px;
}


.solarsystem .cards {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
}

.solarsystem [ data-testid = 'planet-card'  ] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 9%; */
}

.solarsystem [ data-testid = 'mission-card'  ] {
  background-color: #00808011;
  border: 1px solid rgba(0, 128, 128, 0.26);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: center;
  margin: 4rem;
  text-align: center;
  width: 20rem;
}

.solarsystem [ data-testid = 'mission-name'  ] {
  border-bottom: 1px solid teal;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
}


.solarsystem [ data-testid = 'mission-year'  ] {
  color: aqua;
  margin: 8px auto;
  opacity: 0.8;
}

.solarsystem [ data-testid = 'mission-destination'  ] {
  color: aqua;
  margin-top: 8px;
  opacity: 0.8;
}

.solarsystem .m-cards {
  display: flex;
  flex-wrap: wrap;
}

.solarsystem [ data-testid = 'missions'  ] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0;
}
