* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #124559;
  /* font-family: Impact, Haettenschweiler, "Arial", sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 0;
}

.home {
  display: flex;
  flex-direction: column;
}

.topo h1 {
  color: white;
  display: inline-block;
  font-family: Lobster;
  font-weight: 400;
  padding: 9px 9x 13px;
  margin: 20px auto;
}

.home a {
  color: #aec3b0;
  /* padding: 5px 15px; */
  max-width: 45%;
  text-align: center;
}

.home a:link {
  text-decoration: underline;
}

.home a:hover {
  text-decoration: underline;
  color: #bdb969;
}

.home h2 {
  color: #aec3b0;
  display: flex;
}

.home h4 {
  margin: 0;
  /* padding: 3rem; */
  font-size: 4rem;
  text-align: center;
}

/* .home .aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.home .aboutMe form {
  display: flex;
  flex-direction: column;
  color: #070707;
  width: 330px;
  max-width: 350px;
  border-radius: 5px;
  background-color: #175B75;
}

.home .aboutMe form span {
  text-align: center;
  color: rgb(243, 172, 159);
  display: none;
}

.home .aboutMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background-image: url('./img/vista.jpg');
  background-size: cover;
}

.home .aboutMe div {
  width: 20%;
  /* border: 1px solid black; */
  height: 50px;
}

.home .aboutMe h3 {
  font-size: 24px;
  color: white;
  text-align: center;
  margin: 10px auto;
}

.home .aboutMe input {
  font-size: 18px;
  padding: 10px;
  border: none;
  margin: 6px;
  border-radius: 2px;
}

.home .aboutMe [type="submit"] {
  background-color: #124559;
  color: white;
  transition: 0.4s;
}

.home .aboutMe [type="submit"]:hover {
  background-color: #2CAADB;
}

.home .aboutMe select {
  font-size: 18px;
  border: none;
  margin: 6px;
  padding: 10px;
}

.home .aboutMe textarea {
  font-size: 15px;
  border-radius: 2px;
  border: none;
  margin: 6px;
  padding: 10px;
}

@keyframes scaleAnimation {
  from {transform: scale(0.3);}
  75% {transform: scale(1.05);}
  to {transform: scale(1);}
}

.home .innerTxt {
  color: white;
  font-size: 3rem;
  left: 8%;
  position: absolute;
  top: 60%;
  animation: scaleAnimation 2s;
}

.home .innerTxt p {
  background-color: #124559;
  width: fit-content;
}

.card {
  margin: 8px 5%;
  min-width: 25%;
  vertical-align: top;
}

.card p {
  font-size: 1.8rem;
}

.card img {
  width: 69.69%;
  margin: 0 auto 10px;
  border-radius: 3%;
  transition: 0.5s;
  cursor: pointer;
}

.card img:hover {
  opacity: 50%;
  transform: scale(1.1);
}

.topo {
  background-color: #124559;
  color: #eff6e0;
  margin-bottom: 0;
  border-bottom: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;
}

.topo div {
  display: flex;
  justify-content: space-around;
}

.topo img {
  filter: opacity(0.6);
  height: 56px;
  margin: 25px 30px 0 0;
  width: 60px;
}

.topo nav h2 {
  align-items: center;
  background-color: #eff6e0;
  border-radius: 2.5rem;
  display: flex;
  font-size: 2.2rem;
  gap: 2.2rem;
  height: 5rem;
  justify-content: space-between;
  padding: 9px;
  margin: 20px auto;
}

.topo a {
  color: #175B75;
  transition: 0.5s;
}

.topo a:hover {
  color: #070707;
}

.home .Soft {
  background-color: #aec3b0;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-top: 7px;
  /* position: 50%; */
  width: 100%;
}

.home .cardContainer {
  text-align: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  margin-bottom: 3rem;
}

/* 
.home .title-skill {
  width: 100%;
} */

footer {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
}

footer ul {
  align-items: center;
  background-color: #eff6e0;
  border-radius: 1.3rem;
  display: flex;
  font-size: 2rem;
  gap: 3rem;
  height: 2.6rem;
  justify-content: space-between;
  margin-top: 9px;
  padding: 9px;
  width: 20rem;
}

footer a {
  color: #175B75;
  transition: 0.5s;
}

footer a:hover {
  color: #070707;
}

.home .Hard {
  background-color: #124559;
  color: #eff6e0;
  margin: auto;
  padding-top: 7px;
  width: 100%;
}

.home .gradient {
  background: linear-gradient(45deg, #124559, #175B75, #2CAADB, #175B75, #124559);
  /* padding: 30px 30px; */
}

.home .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #aec3b0;
  padding: 15px 0;
  justify-content: space-evenly;
}

.home .projects a {
  font-size: 40px;
  border: none;
  background-color: #070707;
  color: #aec3b0;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.home .projects div {
  display: flex;
  justify-content: space-around;
}

.home .projects a:hover {
  background-color: #2CAADB;
  color: white;
}

.home .projects iframe {
  width: 46%;
  height: 83%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2%;
}

.home .projects img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 80%;
}

.home .hProj {
  background-color: #aec3b0;
}

.home .hProj h4 {
  color: black;
}



@media screen and (max-width: 720px) {
  .topo-main {
    display: flex;
    align-items: center;
  }

  .topo img {
    margin: 5px 10px;
  }

  .topo nav {
    display: none;
  }

  .topo h1 {
    font-size: 30px;
  }

  .home .aboutMe div {
    display: none;
  }

  .home .innerTxt {
    font-size: 15px;
    top: 50%;
  }

  .home .cardContainer {
    align-items: center;
    flex-direction: column;
  }

  .home .projects div {
    align-items: center;
    flex-direction: column;
  }

  .home .projects a {
    margin: 15px;
  }
}
