* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #124559;
  /* font-family: Impact, Haettenschweiler, "Arial", sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 0;
}

.home {
  display: flex;
  flex-direction: column;
}

.topo h1 {
  color: white;
  display: inline-block;
  font-family: Lobster;
  font-weight: 400;
  padding: 9px;
}

.home a {
  color: #aec3b0;
  /* padding: 5px 15px; */
  max-width: 45%;
  text-align: center;
}

.home a:link {
  text-decoration: underline;
}

.home a:hover {
  text-decoration: underline;
  color: #bdb969;
}

.home h2 {
  color: #aec3b0;
  display: flex;
  /* font-size: 2rem; */
}

.home h4 {
  margin: 0;
  /* padding: 3rem; */
  font-size: 4rem;
  text-align: center;
}

.home .aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .imgTxt {
  position: relative;
}

.home .innerTxt {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px #124559;
  text-align: center;
}


.card {
  max-width: 23%;
  margin: 8px 5%;
  vertical-align: top;
}

.card p {
  font-size: 1.8rem;
}

.card img {
  width: 69.69%;
  margin: 0 auto;
  border-radius: 3%;
  transition: 0.5s;
  cursor: pointer;
}

.card img:hover {
  opacity: 50%;
  width: 73%;
}

.topo {
  background-color: #124559;
  color: #eff6e0;
  margin-bottom: 0;
  border-bottom: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;
}

.topo nav h2 {
  align-items: center;
  background-color: #eff6e0;
  border-radius: 2.5rem;
  display: flex;
  font-size: 2.2rem;
  gap: 2.2rem;
  height: 5rem;
  justify-content: space-between;
  padding: 9px;
}

.topo a {
  color: #175B75;
  transition: 0.5s;
}

.topo a:hover {
  color: #070707;
}

.home .Soft {
  background-color: #aec3b0;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-top: 7px;
  /* position: 50%; */
  width: 100%;
}

.home .cardContainer {
  text-align: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  margin-bottom: 3rem;
}

/* 
.home .title-skill {
  width: 100%;
} */

footer {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
}

footer ul {
  align-items: center;
  background-color: #eff6e0;
  border-radius: 1.3rem;
  display: flex;
  font-size: 2rem;
  gap: 3rem;
  height: 2.6rem;
  justify-content: space-between;
  padding: 9px;
  width: 20rem;
}

footer a {
  color: #175B75;
  transition: 0.5s;
}

footer a:hover {
  color: #070707;
}

.home .Hard {
  background-color: #124559;
  color: #eff6e0;
  margin: auto;
  padding-top: 7px;
  width: 100%;
}

.home .gradient {
  background: linear-gradient(45deg, #124559, #175B75, #2CAADB, #175B75, #124559);
  /* padding: 30px 30px; */
}

.home .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #aec3b0;
  padding: 15px 0;
  justify-content: space-evenly;
}

.home .projects a {
  width: 25%;
  font-size: 40px;
  border: none;
  background-color: #070707;
  color: #aec3b0;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.home .projects div {
  display: flex;
  justify-content: space-around;
}

.home .projects a:hover {
  background-color: #2CAADB;
  color: white;
}

.home .projects iframe {
  width: 46%;
  height: 83%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2%;
}

.home .projects img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 80%;
}

.home .hProj {
  background-color: #aec3b0;
}

.card

.home .hProj h4 {
  color: black;
}



@media screen and (max-width: 800px) {
  .topo nav h2 {
    font-size: 16px;
  }
}
